<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/edb10480-5713-4ed2-9583-bbb21f488578/resourcegroups/Weather-TDD-APIResourceGroup/providers/Microsoft.Web/sites/Weather-TDD-API20240111214844</ResourceId>
    <ResourceGroup>Weather-TDD-APIResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/edb10480-5713-4ed2-9583-bbb21f488578/resourceGroups/Weather-TDD-APIResourceGroup/providers/Microsoft.ApiManagement/service/Weather-TDD-APIapi/apis/Weather-TDD-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weather-tdd-api20240111214844.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>59ac3f99-fc78-430c-8b8d-c6e8eb09a1d5</ProjectGuid>
    <MSDeployServiceURL>weather-tdd-api20240111214844.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Weather-TDD-API20240111214844</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Weather-TDD-API20240111214844</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>